body {
    font-family: 'Arial', sans-serif;
    background-color: #202020;
    padding: 20px;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #0056b3;
}

.output-div {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: white;
}

h1{
    color: white;
    text-align: center;
}

.error{
    color: rgb(254, 63, 63);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5{
    color: #007bff;
    font-size: 20px;
}